<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="https://img.icons8.com/color/48/000000/spring-logo.png">
    <title>Главная страница</title>
    <div th:insert="~{logout ::up}"></div>
</head>
<body class="bg-light h-100">
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <p><b th:text="${userA.getEmail()}"></b><span
                th:text="' with roles: ' +${userA.getRolesString(userA.getRoles())}"></span></p>
    </div>

    <div class="navbar-brand pull-right ">
        <p><a href="/logout" methods="post" class="text-secondary">Logout</a></p>
    </div>
</nav>

<div class="container-fluid  h-100 pl-0 pr-0 bg-white">
    <div class="row justify-content-center h-100">
        <div class="col-sm-2 col-md-2 pr-0 sidebar  " style="height: 1280px">

            <div th:if="${userA.isAdmin(userA)}">
                <a href="admin" class="btn btn-primary btn-block active text-left" aria-pressed="true">Admin</a>
            </div>

            <div th:if="${userA.isUser(userA)}">
                <a href="welcome" class="btn btn-link btn-block text-left">User</a>
            </div>
        </div>
        <div class="col-sm-10 bg-light text-dark  main">
            <div class="container-fluid">
                <br>
                <h1> Admin panel</h1>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active " data-toggle="tab" href="#userAll">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <div class="tab-content border">
                    <div class="tab-pane fade show active" id="userAll">
                        <div class="modal-header">
                            <h4 class="modal-title">All users</h4>
                        </div>

                        <div class="form-group  row justify-content pr-3 mb-0">
                            <div class="modal-header pl-0  ">
                            </div>
                            <div class="modal-body bg-white">
                                <form id="admin">
                                    <div class="table-responsive">
                                        <table class="table table-striped mx-15 my-15">
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>

                                            <tr th:each="user: ${users}">

                                                <th scope="row" th:text="${user.id}">11</th>
                                                <th th:class="font-weight-normal" th:text="${user.firstName}"></th>
                                                <th th:class="font-weight-normal" th:text="${user.lastName}"></th>
                                                <th th:class="font-weight-normal" th:text="${user.age}"></th>
                                                <th th:class="font-weight-normal" th:text="${user.email}"></th>
                                                <th th:class="font-weight-normal"
                                                    th:text="${user.getRolesString(user.getRoles())}"></th>

                                                <th>
                                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                                            data-whatever="edit"
                                                            FORM="edit"
                                                            th:attr="data-target='#customerModel'+${user.id}">
                                                        Edit
                                                    </button>
                                                </th>
                                                <th>
                                                    <!--                    <td><a href="delete.html" th:href="@{admin/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>-->

                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-whatever="delete"
                                                            form="delete"
                                                            th:attr="data-target='#customerModel1'+${user.id}">
                                                        Delete
                                                    </button>
                                                </th>
                                                <div class="btn-group-toggle text-center">

                                                    <form id="edit" method="post" action="/admin/edit">
                                                        <div class="modal fade"
                                                             th:attr="id='customerModel'+${user.id}"
                                                             tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="exampleModalLabel">
                                                                            Edit
                                                                            user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">x</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="modal-body">
                                                                        <div class="form-group">
                                                                            <b><label for="firstName">ID</label></b>
                                                                            <input type="text" name="id"
                                                                                   class="form-control" id="id"
                                                                                   th:value="${user.id}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="firstName">First
                                                                                name</label></b>
                                                                            <input type="text" name="firstName"
                                                                                   class="form-control"
                                                                                   id="firstName"
                                                                                   th:value="${user.firstName}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="lastName">Last
                                                                                name</label></b>
                                                                            <input type="text" name="lastName"
                                                                                   class="form-control"
                                                                                   id="lastName"
                                                                                   th:value="${user.lastName}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="age">Age</label></b>
                                                                            <input type="number" name="age"
                                                                                   class="form-control"
                                                                                   id="age"
                                                                                   th:value="${user.age}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="email">Email</label></b>
                                                                            <input type="email" name="email"
                                                                                   class="form-control"
                                                                                   id="email"
                                                                                   th:value="${user.email}">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label
                                                                                    for="pass">Password</label></b>
                                                                            <input type="text" class="form-control"
                                                                                   id="pass"
                                                                                   placeholder="" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="role">Role:</label></b>
                                                                            <select class="custom-select"
                                                                                    name="rolesId"
                                                                                    multiple="multiple"
                                                                                    size="2">
                                                                                <th:block
                                                                                        th:each="role:${userAllRoles}">
                                                                                    <option th:value="${role.id}"
                                                                                            th:text="${role}"></option>
                                                                                </th:block>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button class="btn btn-primary"
                                                                                type="submit">
                                                                            Edit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="btn-group-toggle text-center">
                                                    <form id="delete" method="post" action="/admin/delete">
                                                        <div class="modal fade" th:attr="id='customerModel1'+${user.id}"
                                                             tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel1"
                                                                            text-left>Delete
                                                                            user</h5>
                                                                        <button type="button" class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="form-group">
                                                                            <b><label for="firstName">ID</label></b>
                                                                            <input type="text" name="id"
                                                                                   class="form-control" id="id"
                                                                                   th:value="${user.id}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="firstName">First name</label></b>
                                                                            <input type="text" name="firstName"
                                                                                   class="form-control"
                                                                                   id="firstName"
                                                                                   th:value="${user.firstName}"
                                                                                   readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="lastName">Last
                                                                                name</label></b>
                                                                            <input type="text" name="lastName"
                                                                                   class="form-control"
                                                                                   id="lastName"
                                                                                   th:value="${user.lastName}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="age">Age</label></b>
                                                                            <input type="number" name="age"
                                                                                   class="form-control"
                                                                                   id="age"
                                                                                   th:value="${user.age}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="email">Email</label></b>
                                                                            <input type="email" name="email"
                                                                                   class="form-control"
                                                                                   id="email"
                                                                                   th:value="${user.email}" readonly>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <b><label for="role">Role:</label></b>
                                                                            <select class="custom-select" name="rolesId"
                                                                                    multiple="multiple"
                                                                                    size="2"
                                                                                    disabled>
                                                                                <th:block
                                                                                        th:each="role:${userAllRoles}">
                                                                                    <option th:value="${role.id}"
                                                                                            th:text="${role}"></option>
                                                                                </th:block>
                                                                            </select>
                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button class="btn btn-danger" type="submit">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="newUser">


                        <!--                        <div class="modal-header" text-left font-weight-bold>-->
                        <div class="modal-header">
                            <h4 class="modal-title">Add new user</h4>
                        </div>
                        <div class="form-group row justify-content-center bg-white mx-0 mb-0 ">
                            <div class="col-sm-3 ">
                                <div class="modal-body  ">
                                    <div class="btn-group-toggle text-center">
                                        <form method="post" action="/admin/add">
                                            <div class="form-group">
                                                <b><label for="firstName">First name</label></b>
                                                <input type="text" name="firstName" class="form-control" id="firstName">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="lastName">Last name</label></b>
                                                <input type="text" name="lastName" class="form-control" id="lastName">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="age">Age</label></b>
                                                <input type="number" name="age" class="form-control" id="age">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="email">Email</label></b>
                                                <input type="email" name="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="password">Password</label></b>
                                                <input type="password" name="password" class="form-control"
                                                       id="password">
                                            </div>

                                            <div class="form-group">
                                                <b><label for="role">Role:</label></b>
                                                <select class="custom-select" name="rolesId" multiple="multiple"
                                                        size="2">
                                                    <th:block th:each="role:${userAllRoles}">
                                                        <option th:value="${role.id}"
                                                                th:text="${role}"></option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <button class="btn btn-success btn-lg" aria-pressed="true" type="submit">Add
                                                new user
                                            </button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>

        </div>

    </div>
</div>
</div>

</div>


</tr>
</table>
</div>
</div>
</div>
<div th:insert="~{logout ::lower}"></div>
</body>
</html>
