<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="https://img.icons8.com/color/48/000000/spring-logo.png">
    <title>Главная страница</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body class="bg-light h-100">
<nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
        <p><b th:text="${userA.getEmail()}"></b><span
                th:text="' with roles: ' +${userA.getRolesString(userA.getRoles())}"></span></p>
    </div>
    <div class="navbar-brand pull-right ">
        <p><a href="/logout" methods="post" class="text-secondary">Logout</a></p>
    </div>
</nav>
<div class="container-fluid  h-100 pl-0 pr-0 bg-white">
    <div class="row justify-content-center h-100">
        <div class="col-sm-2 col-md-2 pr-0 sidebar  " style="height: 1280px">
            <div sec:authorize="hasRole('ADMIN')">
                <a href="admin" class="btn btn-primary btn-block active text-left" aria-pressed="true">Admin</a>
            </div>

            <div sec:authorize="hasRole('USER')">
                <a href="welcome" class="btn btn-link btn-block text-left">User</a>
            </div>
        </div>
        <div class="col-sm-10 bg-light text-dark  main" id="UserAllId">
            <div class="container-fluid">
                <br>
                <h1> Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active " data-toggle="tab" id="help" href="#userAll">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <div class="tab-content border">
                    <div class="tab-pane fade show active" id="userAll">
                        <div class="modal-header">
                            <h4 class="modal-title">All users</h4>
                        </div>
                        <div class="modal-body bg-white">
                            <form id="admin">
                                <div class="table-responsive" id="containerrrr">
                                    <table class="table table-striped mx-15 my-15" id="incentive">
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>

                                    </table>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="newUser">
                        <div class="modal-header">
                            <h4 class="modal-title">Add new user</h4>
                        </div>
                        <div class="form-group row justify-content-center bg-white mx-0 mb-0 " id="666">
                            <div class="col-sm-3 ">
                                <div class="modal-body ">
                                    <div class="btn-group-toggle text-center" id="new">
                                        <form id="newf">
                                            <div class="form-group">
                                                <b><label for="firstNameN">First name</label></b>
                                                <input type="text" name="firstName" class="form-control" id="firstNameN">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="lastNameN">Last name</label></b>
                                                <input type="text" name="lastName" class="form-control" id="lastNameN">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="ageN">Age</label></b>
                                                <input type="number" name="age" class="form-control" id="ageN">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="emailN">Email</label></b>
                                                <input type="email" name="email" class="form-control" id="emailN">
                                            </div>
                                            <div class="form-group">
                                                <b><label for="passwordN">Password</label></b>
                                                <input type="password" name="password" class="form-control"
                                                       id="passwordN">
                                            </div>

                                            <div class="form-group">
                                                <b><label>Role:</label></b>
                                                <select id="selectRoleN" class="custom-select"
                                                        name="rolesId"
                                                        multiple="multiple"
                                                        size="2">
                                                </select>
                                            </div>

                                            <button class="btn btn-success btn-lg" aria-pressed="true" type="submit">
                                                <!--                                                    onclick="newUser()">Add-->
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id='customerModel1'
     tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form id="delete-form">
        <!--    <form id="delete-form" action="/admin/delete/" method="get">-->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Delete user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body font-weight-bold text-danger">
                    Вы точно хотите удалить пользователя?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button class="btn btn-danger" type="submit" id="DeleteButton" action="22">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade text-center"
     id='customerModel'
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="editForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel">
                        Edit
                        user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <b><label for="idE">ID</label></b>
                        <input type="text" name="id" class="form-control" id="idE" value="id" readonly>
                    </div>
                    <div class="form-group">
                        <b><label for="firstNameE">First name</label></b>
                        <input type="text" name="firstName" class="form-control" id="firstNameE" value="firstName">
                    </div>
                    <div class="form-group">
                        <b><label for="lastNameE">Last name</label></b>
                        <input type="text" name="lastName" class="form-control" id="lastNameE" value="lastName">
                    </div>
                    <div class="form-group">
                        <b><label for="ageE">Age</label></b>
                        <input type="number" name="age" class="form-control" id="ageE" value="2222">
                    </div>
                    <div class="form-group">
                        <b><label for="emailE">Email</label></b>
                        <input type="email" name="email" class="form-control" id="emailE" value="mail">
                    </div>
                    <div class="form-group">
                        <b><label for="pass">Password</label></b>
                        <input type="text" class="form-control" id="pass" placeholder="" readonly>
                    </div>
                    <div class="form-group" id="s">
                        <b><label>Role:</label></b>
                        <block>
                            <select id="selectRole" class="custom-select"
                                    name="rolesId"
                                    multiple="multiple"
                                    size="2">
                            </select>
                        </block>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">
                        Close
                    </button>
                    <!--                        <button class="btn btn-primary"-->
                    <button class="callback btn btn-danger form-submit"

                            type="submit">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/allUser.js"></script><!-- Наш JS-код -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
